.inicio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 234px;
}
.inicio button {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 65px;
    width: 345px;
    height: 72px;
    border: 3px solid #FFEF61;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: white;
    margin-top: 260px;
}
nav {
    width: 100%;
    margin-top: 26px;
    margin-left: 31.7px;
}
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carta {
    width: 392px;
    height: 575.75px;
    left: 524px;
    top: 224.12px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-top: 161.12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contador {
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    display: flex;
    justify-content: end;
    margin-top: 12.88px;
    margin-right: 12px;
}
.pergunta {
    height: 486px;
    width: 294px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}
.passar {
    display: flex;
    justify-content: end;
}
.passar button {
    background-color: #FFFFFF;
    border: none;
}
.perguntinha {
    margin-right: 115px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.resposta {
    height: 486px;
    width: 294px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.reacoes {
    width: 310px;
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
.reacoes div {
    width: 65px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aprendi {
    border: 3px solid #000000;
}
.esqueci {
    border: 3px solid #F74848;
}
.esforco {
    border: 3px solid #62DB38;
}
.zap {
    border: 3px solid #FFEF61;
}
.sucesso {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fracasso {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mensagem {
    margin-top: 411px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.substatus {
    font-family: Roboto;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.escondido {
    display: none;
}